@font-face {
  font-family: "Xiangcui-Kesong";
  src:
    local("Xiangcui-Kesong"),
    local("香萃刻宋"),
    url("/fonts/香萃刻宋.woff2") format("woff2"),
    url("/fonts/Xiangcui-Kesong.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Victoria Typewriter Regular";
  src:
    local("Victoria Typewriter Regular"),
    url("/fonts/Victoria Typewriter Regular.woff2") format("woff2"),
    url("/fonts/Victoria-Typewriter.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bozhen-Typewriter";
  src:
    local("Bozhen-Typewriter"),
    local("迫真打字油印体"),
    local("迫真打字油印體"),
    url("/fonts/迫真打字油印体.woff2") format("woff2"),
    url("/fonts/Bozhen-Typewriter.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
