@font-face {
  font-family: "Xiangcui-Kesong";
  src:
    local("Xiangcui-Kesong"),
    local("香萃刻宋");
  font-display: optional;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Victoria Typewriter Regular";
  src:
    local("Victoria Typewriter Regular"),
    url("/fonts/Victoria%20Typewriter%20Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bozhen-Typewriter";
  src:
    local("Bozhen-Typewriter"),
    local("迫真打字油印体"),
    local("迫真打字油印體");
  font-display: optional;
  font-weight: 400;
  font-style: normal;
}
